
html,
body {
  margin: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #222;
  font-family: system-ui, sans-serif;
}
.content{
  min-height: 100vh;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}


